@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
}

footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
}

.header {
  max-width: 100%;
}
.header__navbar {
  background-color: #87509c;
}
.header__navbar .header__container {
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  padding: 51px 51px 20px 77px;
}
.header__navbar .header__container .header__burger-menu {
  margin: 0 !important;
  justify-content: flex-end;
}
.header__navbar .header__container .header__burger-menu-list-item {
  padding: 5px 0 5px 25px;
}
.header__navbar .header__container .header__burger-menu-list-item-link {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px;
}
.header__navbar .header__container .header__burger-menu-list-item-link:hover {
  color: #fff;
  background-color: #643a79;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .header__navbar .header__container {
    width: 992px;
  }
}
@media (max-width: 991px) {
  .header__navbar .header__container {
    justify-content: space-between;
    padding: 51px 30px 20px 30px;
    width: 768px;
  }
  .header__navbar .header__container .navbar-toggler {
    border: none;
  }
  .header__navbar .header__container .header__burger-menu-list {
    align-items: flex-start;
  }
  .header__navbar .header__container .header__burger-menu-list-item {
    padding: 5px 0 0 0;
  }
}
@media (max-width: 768px) {
  .header__navbar .header__container {
    padding: 30px 10px 20px 10px;
    width: 480px;
  }
}
@media (max-width: 480px) {
  .header__navbar .header__container {
    width: 320px;
    padding: 20px 10px 20px 10px;
  }
}
@media (max-width: 320px) {
  .header__navbar .header__container {
    width: 290px;
  }
}
.welcome {
  max-width: 100%;
  background-color: #87509c;
  display: flex;
  justify-content: center;
  padding-top: 228px;
  padding-bottom: 145px;
}
.welcome__container {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__container .welcome__text {
  font-size: 2.625em;
  font-family: "Titillium Web", sans-serif;
  color: #f7f3ea;
  font-weight: 700;
  text-align: center;
  line-height: 48.82px;
  letter-spacing: 0.2px;
}
.welcome__container .welcome__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 70px;
  width: 293px;
  font-size: 1.125em;
  font-family: "Titillium Web", sans-serif;
  color: #f7f3ea;
  font-weight: 700;
  position: relative;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  background-color: #eb7d4b;
  margin-top: 40px;
}
.welcome__container .welcome__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0.15;
  background-color: #000000;
}
.welcome__container .welcome__button:hover {
  background-color: #e65c1d;
}

@media (max-width: 1200px) {
  .welcome__container {
    width: 992px;
  }
}
@media (max-width: 992px) {
  .welcome__container {
    width: 768px;
  }
  .welcome__container .welcome__text {
    font-size: 2.125em;
  }
  .welcome__container .welcome__text br {
    display: none;
  }
}
@media (max-width: 768px) {
  .welcome {
    padding-top: 150px;
    padding-bottom: 110px;
  }
  .welcome__container {
    width: 480px;
  }
  .welcome__container .welcome__text {
    line-height: 38.82px;
  }
  .welcome__container .welcome__button {
    margin-top: 19px;
  }
}
@media (max-width: 480px) {
  .welcome__container {
    width: 320px;
  }
  .welcome__container .welcome__text {
    line-height: 28.82px;
  }
  .welcome__container .welcome__button {
    margin-top: 0;
    width: 250px;
    height: 55px;
  }
}
.services {
  max-width: 100%;
  background-color: #17c2a4;
  padding-top: 119px;
  padding-bottom: 110px;
}
.services__container {
  width: 1170px;
}
.services__container .services__text-title {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 29.91px;
  letter-spacing: 4px;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.services__container .services__text-title::after {
  content: "";
  position: absolute;
  width: 87px;
  height: 4px;
  opacity: 0.15;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
}
.services__container .services__text-main {
  color: #fff;
  font-size: 1.125em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 78px;
}
.services__container .services__cards {
  width: 1030px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
}
.services__container .services__cards .services__card-1 {
  width: 196px;
  margin: 4px 0 0 -40px;
}
.services__container .services__cards .services__card-1 .services__card-img {
  margin-bottom: 56px;
}
.services__container .services__cards .services__card-1 .services__card-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  margin-right: 13px;
  margin-bottom: 16px;
}
.services__container .services__cards .services__card-1 .services__card-text {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.32px;
  line-height: 24px;
}
.services__container .services__cards .services__card-2 {
  width: 175px;
  margin: 0 1px 0 8px;
}
.services__container .services__cards .services__card-2 .services__card-img {
  margin-bottom: 55px;
  margin-top: -1px;
}
.services__container .services__cards .services__card-2 .services__card-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  margin-right: 13px;
  margin-bottom: 16px;
}
.services__container .services__cards .services__card-2 .services__card-text {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.32px;
  line-height: 24px;
}
.services__container .services__cards .services__card-3 {
  width: 197px;
  margin: 0 1px 0 -2px;
}
.services__container .services__cards .services__card-3 .services__card-img {
  margin-bottom: 56px;
  margin-top: 3px;
}
.services__container .services__cards .services__card-3 .services__card-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  margin-right: -8px;
  margin-bottom: 16px;
}
.services__container .services__cards .services__card-3 .services__card-text {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.32px;
  line-height: 24px;
}
.services__container .services__cards .services__card-4 {
  width: 195px;
  margin: 0 -43px 0 0px;
}
.services__container .services__cards .services__card-4 .services__card-img {
  margin-bottom: 51px;
}
.services__container .services__cards .services__card-4 .services__card-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.services__container .services__cards .services__card-4 .services__card-text {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.32px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .services__container {
    width: 992px;
  }
  .services__container .services__text-main br {
    display: none;
  }
  .services__container .services__cards {
    justify-content: space-around;
    width: auto;
  }
  .services__container .services__cards .services__card-1,
  .services__container .services__cards .services__card-2,
  .services__container .services__cards .services__card-3,
  .services__container .services__cards .services__card-4 {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .services__container {
    width: 768px;
  }
  .services__container .services__cards {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .services__container {
    width: 480px;
  }
  .services__container .services__text-title {
    line-height: 33.91px;
    font-size: 2.125em;
  }
  .services__container .services__text-main {
    padding-bottom: 48px;
  }
}
@media (max-width: 480px) {
  .services__container {
    width: 320px;
  }
  .services__container .services__text-title {
    font-size: 1.875em;
  }
  .services__container .services__text-main {
    font-size: 16px;
  }
  .services__container .services__cards {
    flex-direction: column;
    align-items: center;
  }
  .services__container .services__cards .services__card-1 .services__card-img,
  .services__container .services__cards .services__card-2 .services__card-img,
  .services__container .services__cards .services__card-3 .services__card-img,
  .services__container .services__cards .services__card-4 .services__card-img {
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .services__container {
    width: 290px;
  }
}
.team {
  max-width: 100%;
  background-color: #e7f1f8;
  padding-top: 119px;
  padding-bottom: 126px;
}
.team__container {
  width: 1170px;
}
.team__container .team__text-title {
  color: #3c4761;
  font-size: 2.5625em;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  line-height: 30.87px;
  letter-spacing: 3.4px;
  position: relative;
  padding-bottom: 27px;
  margin-bottom: 0;
}
.team__container .team__text-title::after {
  content: "";
  position: absolute;
  width: 87px;
  height: 6px;
  background-color: #bdd1df;
  opacity: 0.75;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.team__container .team__text-main {
  color: #3c4761;
  font-size: 1.187em;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 26.84px;
  letter-spacing: 0;
  padding-top: 16px;
  padding-bottom: 77px;
  margin: 0;
}
.team__container .team__cards {
  width: 1040px;
  margin: 0 auto;
}
.team__container .team__cards .team__card {
  max-width: none;
  padding: 0;
}
.team__container .team__cards .team__card-img {
  padding-bottom: 41px;
}
.team__container .team__cards .team__card-worker {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  color: #27283d;
  line-height: 18px;
  letter-spacing: 0.48px;
  margin-bottom: 13px;
}
.team__container .team__cards .team__card-position {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #30bae7;
  line-height: 18px;
  letter-spacing: 0.32px;
  margin-bottom: 20px;
}
.team__container .team__cards .team__card-desc {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3c4761;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 28px;
}
.team__container .team__cards .team__card-icons {
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.team__container .team__cards .team__card-icons a {
  margin: 0 6px;
}

@media (max-width: 1200px) {
  .team__container {
    width: 992px;
  }
  .team__container .team__cards {
    width: 962px;
  }
}
@media (max-width: 992px) {
  .team__container {
    width: 768px;
  }
  .team__container .team__cards {
    width: 738px;
  }
  .team__container .team__cards .team__card:not(:last-child) {
    margin-bottom: 20px;
  }
  .team__container .team__cards-desc {
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .team__container {
    width: 480px;
  }
  .team__container .team__text-title {
    font-size: 2.125em;
    line-height: 40px;
    padding-bottom: 22px;
    letter-spacing: 3px;
  }
  .team__container .team__cards {
    width: 450px;
  }
  .team__container .team__cards .team__card-desc {
    padding: 0 30px;
  }
}
@media (max-width: 480px) {
  .team__container {
    width: 320px;
  }
  .team__container .team__text-title {
    font-size: 1.875em;
    line-height: 35px;
  }
  .team__container .team__text-main {
    font-size: 16px;
    padding-bottom: 45px;
  }
  .team__container .team__cards {
    width: 290px;
  }
}
@media (max-width: 320px) {
  .team__container {
    width: 290px;
  }
  .team__container .team__cards {
    width: 250px;
  }
}
.skills {
  max-width: 100%;
  background-color: #fff;
  padding-top: 117px;
  padding-bottom: 106px;
}
.skills__container {
  width: 1170px;
}
.skills__container .skills__text-title {
  color: #3c4761;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 29.91px;
  letter-spacing: 4px;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
  padding-bottom: 26px;
}
.skills__container .skills__text-title::after {
  content: "";
  position: absolute;
  width: 87px;
  height: 4px;
  opacity: 0.15;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #bdd1df;
}
.skills__container .skills__text-main {
  color: #3c4761;
  font-size: 1.125em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 82px;
}
.skills__container .skills__scale {
  padding: 0 31px;
}
.skills__container .skills__scale-card img {
  padding-bottom: 31px;
}
.skills__container .skills__scale-card-text {
  color: #3c4761;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.skills__container .skills__scale-card:first-child {
  margin-right: 14px;
}

@media (max-width: 1200px) {
  .skills__container {
    width: 992px;
  }
}
@media (max-width: 992px) {
  .skills__container {
    width: 768px;
  }
  .skills__container .skills__scale {
    padding: 0;
    margin: 0;
    justify-content: space-between !important;
  }
  .skills__container .skills__scale-card:first-child {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .skills__container {
    width: 480px;
  }
  .skills__container .skills__text-title {
    letter-spacing: 2px;
  }
  .skills__container .skills__text-main {
    padding-bottom: 50px;
  }
  .skills__container .skills__text-main br {
    display: none;
  }
  .skills__container .skills__scale-card {
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .skills__container {
    width: 320px;
  }
  .skills__container .skills__text-title {
    font-size: 1.875em;
  }
  .skills__container .skills__text-main {
    font-size: 16px;
  }
  .skills__container .skills__scale {
    justify-content: space-around !important;
  }
}
@media (max-width: 320px) {
  .skills__container {
    width: 290px;
  }
}
.portfolio {
  background-color: #ffdd99;
  max-width: 100%;
  padding-top: 119px;
  padding-bottom: 109px;
}
.portfolio__container {
  width: 1170px;
}
.portfolio__container .portfolio__text-title {
  color: #3c4761;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 29.91px;
  letter-spacing: 4px;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.portfolio__container .portfolio__text-title::after {
  content: "";
  position: absolute;
  width: 87px;
  height: 4px;
  opacity: 0.15;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e5c37f;
}
.portfolio__container .portfolio__text-main {
  color: #3c4761;
  font-size: 1.125em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 40px;
}
.portfolio__container .portfolio__buttons {
  padding-bottom: 65px;
}
.portfolio__container .portfolio__buttons-item {
  display: inline-block;
  text-align: center;
  width: 90px;
  height: 38px;
  background-color: #c2c2c2;
  font-size: 1.125em;
  font-family: "Titillium Web", sans-serif;
  color: #393939;
  font-weight: 400;
  position: relative;
  border-radius: 6px;
  margin: 0 3px;
  text-transform: uppercase;
}
.portfolio__container .portfolio__buttons-item:hover {
  background-color: darkgray;
}
.portfolio__container .portfolio__buttons-item:nth-child(1) {
  background-color: #fff;
  width: 84px;
}
.portfolio__container .portfolio__buttons-item:nth-child(1):hover {
  background-color: #e6e6e6;
}
.portfolio__container .portfolio__buttons-item:nth-child(2) {
  width: 84px;
}
.portfolio__container .portfolio__work__examples {
  padding: 0 12px 16px 12px;
  justify-content: space-evenly;
}
.portfolio__container .portfolio__work__examples-item img {
  padding-bottom: 26px;
}
.portfolio__container .portfolio__work__examples-item img:first-child {
  margin-top: -2px;
  margin-left: 2px;
}
.portfolio__container .portfolio__work__examples-item:nth-child(3) {
  margin-left: 5px;
}
.portfolio__container .portfolio__work__examples-item:nth-child(3) .portfolio__work__examples-item-text {
  margin-left: -20px;
}
.portfolio__container .portfolio__work__examples-item-text {
  color: #393939;
  font-size: 1.125em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  padding-bottom: 66px;
  margin: 0;
}
.portfolio__container .portfolio__more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 70px;
  width: 293px;
  font-size: 1.125em;
  font-family: "Titillium Web", sans-serif;
  color: #f7f3ea;
  font-weight: 700;
  position: relative;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  background-color: #17c2a4;
}
.portfolio__container .portfolio__more::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0.15;
  background-color: #000000;
}
.portfolio__container .portfolio__more:hover {
  background-color: #12947d;
}

@media (max-width: 1200px) {
  .portfolio__container {
    width: 992px;
  }
}
@media (max-width: 992px) {
  .portfolio__container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .portfolio__container {
    width: 480px;
  }
  .portfolio__container .portfolio__text-title {
    letter-spacing: 2px;
  }
  .portfolio__container .portfolio__text-main br {
    display: none;
  }
  .portfolio__container .portfolio__buttons {
    padding-bottom: 40px;
  }
  .portfolio__container .portfolio__work__examples {
    padding: 0;
  }
  .portfolio__container .portfolio__work__examples-item {
    margin: 0;
  }
  .portfolio__container .portfolio__work__examples-item:nth-child(3) {
    margin-left: 0;
  }
  .portfolio__container .portfolio__work__examples-item:nth-child(3) .portfolio__work__examples-item-text {
    margin-left: 0;
  }
  .portfolio__container .portfolio__work__examples-item img {
    width: 450px;
    padding-bottom: 20px;
  }
  .portfolio__container .portfolio__work__examples-item img:first-child {
    margin-top: 0;
    margin-left: 0;
  }
  .portfolio__container .portfolio__work__examples-item-text {
    padding-bottom: 36px;
  }
}
@media (max-width: 480px) {
  .portfolio__container {
    width: 320px;
  }
  .portfolio__container .portfolio__text-title {
    font-size: 1.875em;
    padding-bottom: 20px;
  }
  .portfolio__container .portfolio__text-main {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .portfolio__container .portfolio__buttons {
    padding-bottom: 40px;
  }
  .portfolio__container .portfolio__buttons-item {
    width: 65px;
    margin: 0;
    font-size: 16px;
  }
  .portfolio__container .portfolio__buttons-item:nth-child(1) {
    width: 65px;
  }
  .portfolio__container .portfolio__buttons-item:nth-child(2) {
    width: 65px;
  }
  .portfolio__container .portfolio__work__examples-item img {
    width: 290px;
  }
  .portfolio__container .portfolio__work__examples-item-text {
    padding-bottom: 36px;
    font-size: 16px;
  }
  .portfolio__container .portfolio__more {
    height: 60px;
    width: 250px;
  }
}
@media (max-width: 320px) {
  .portfolio__container {
    width: 290px;
    padding: 0 5px;
  }
}
.testimonials {
  max-width: 100%;
  padding-top: 117px;
  padding-bottom: 126px;
  background-color: #d74680;
}
.testimonials__container {
  width: 1170px;
}
.testimonials__container .testimonials__text-title {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 29.91px;
  letter-spacing: 4px;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
  padding-bottom: 26px;
}
.testimonials__container .testimonials__text-title::after {
  content: "";
  position: absolute;
  width: 87px;
  height: 4px;
  opacity: 0.15;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #962150;
}
.testimonials__container .testimonials__text-main {
  color: #fff;
  font-size: 1.125em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 64px;
}
.testimonials__container .testimonials__comments-item {
  margin: 0;
  padding: 0 0 0 35px;
}
.testimonials__container .testimonials__comments-item:nth-child(1) {
  padding: 0 0 140px 35px;
}
.testimonials__container .testimonials__comments-item:nth-child(2) {
  padding: 0 0 140px 39px;
}
.testimonials__container .testimonials__comments-item:nth-child(2) .testimonials__comments-item-text {
  padding: 5px 45px 0 7px;
}
.testimonials__container .testimonials__comments-item:nth-child(3) .testimonials__comments-item-text {
  padding: 5px 47px 0 8px;
}
.testimonials__container .testimonials__comments-item:nth-child(4) {
  padding: 0 0 0 39px;
}
.testimonials__container .testimonials__comments-item:nth-child(4) .testimonials__comments-item-text {
  padding: 5px 45px 0 5px;
}
.testimonials__container .testimonials__comments-item-img {
  padding: 0;
}
.testimonials__container .testimonials__comments-item-text {
  padding: 5px 36px 0 10px;
}
.testimonials__container .testimonials__comments-item-text-main {
  font-size: 1.3125em;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  letter-spacing: 0.35px;
  line-height: 31.2px;
  padding-bottom: 20px;
  margin: 0;
}
.testimonials__container .testimonials__comments-item-text-name {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.48px;
  margin: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}
.testimonials__container .testimonials__comments-item-text-job {
  color: #ffdd99;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  margin: 0;
}

@media (max-width: 1200px) {
  .testimonials__container {
    width: 992px;
  }
  .testimonials__container .testimonials__comments-item {
    margin: 0;
    padding: 0 0 0 35px;
  }
  .testimonials__container .testimonials__comments-item:nth-child(1), .testimonials__container .testimonials__comments-item:nth-child(2) {
    padding: 0 0 100px 35px;
  }
}
@media (max-width: 992px) {
  .testimonials__container {
    width: 768px;
  }
  .testimonials__container .testimonials__comments {
    padding: 0 10px;
  }
  .testimonials__container .testimonials__comments-item {
    margin: 0;
    padding: 0;
  }
  .testimonials__container .testimonials__comments-item-text {
    padding: 5px 15px 0 10px;
  }
  .testimonials__container .testimonials__comments-item:nth-child(1) {
    padding: 0 0 70px 0;
  }
  .testimonials__container .testimonials__comments-item:nth-child(2) {
    padding: 0 0 70px 0;
  }
  .testimonials__container .testimonials__comments-item:nth-child(2) .testimonials__comments-item-text {
    padding: 5px 15px 0 7px;
  }
  .testimonials__container .testimonials__comments-item:nth-child(3) .testimonials__comments-item-text {
    padding: 5px 15px 0 8px;
  }
  .testimonials__container .testimonials__comments-item:nth-child(4) {
    padding: 0;
  }
  .testimonials__container .testimonials__comments-item:nth-child(4) .testimonials__comments-item-text {
    padding: 5px 15px 0 5px;
  }
}
@media (max-width: 768px) {
  .testimonials__container {
    width: 480px;
  }
  .testimonials__container .testimonials__text-title {
    letter-spacing: 2px;
  }
  .testimonials__container .testimonials__comments {
    flex-direction: column;
  }
  .testimonials__container .testimonials__comments-item {
    margin: 0;
    padding: 0 0 25px 0;
    max-width: 100%;
  }
  .testimonials__container .testimonials__comments-item-text {
    padding: 0;
  }
  .testimonials__container .testimonials__comments-item:nth-child(1) {
    padding: 0 0 25px 0;
  }
  .testimonials__container .testimonials__comments-item:nth-child(2) {
    padding: 0 0 25px 0;
  }
  .testimonials__container .testimonials__comments-item:nth-child(2) .testimonials__comments-item-text {
    padding: 0;
  }
  .testimonials__container .testimonials__comments-item:nth-child(3) .testimonials__comments-item-text {
    padding: 0;
  }
  .testimonials__container .testimonials__comments-item:nth-child(4) {
    padding: 0;
  }
  .testimonials__container .testimonials__comments-item:nth-child(4) .testimonials__comments-item-text {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .testimonials__container {
    width: 320px;
  }
  .testimonials__container .testimonials__text-title {
    font-size: 1.875em;
    padding-bottom: 20px;
  }
  .testimonials__container .testimonials__text-main {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .testimonials__container .testimonials__comments {
    padding: 0 15px;
  }
  .testimonials__container .testimonials__comments-item {
    margin: 0;
    padding: 0 0 20px 0;
    max-width: 100%;
  }
  .testimonials__container .testimonials__comments-item-text {
    padding: 0;
  }
  .testimonials__container .testimonials__comments-item-text-main {
    font-size: 1.187em;
    letter-spacing: 0.3px;
    line-height: 25.2px;
    padding-bottom: 10px;
    margin: 0;
  }
  .testimonials__container .testimonials__comments-item-text-name {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.4px;
    padding-bottom: 4px;
  }
  .testimonials__container .testimonials__comments-item-text-job {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
  }
  .testimonials__container .testimonials__comments-item:nth-child(1) {
    padding: 0 0 20px 0;
  }
  .testimonials__container .testimonials__comments-item:nth-child(2) {
    padding: 0 0 20px 0;
  }
  .testimonials__container .testimonials__comments-item:nth-child(2) .testimonials__comments-item-text {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .testimonials__container {
    width: 290px;
  }
  .testimonials__container .testimonials__text-title {
    letter-spacing: 0;
  }
}
.registration {
  background-color: #3c5499;
  max-width: 100%;
  padding-top: 119px;
  padding-bottom: 109px;
}
.registration__container {
  width: 1170px;
}
.registration__container .registration__text-title {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 29.91px;
  letter-spacing: 4px;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.registration__container .registration__text-title::after {
  content: "";
  position: absolute;
  width: 87px;
  height: 4px;
  opacity: 0.15;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #273a71;
}
.registration__container .registration__text-main {
  color: #fff;
  font-size: 1.125em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 74px;
}
.registration__container .registration__form-area .form-name, .registration__container .registration__form-area .form-email {
  width: 414px;
  height: 56px;
  color: #fff;
  text-align: left;
  padding-left: 25px;
  margin: 0 14px 27px 14px;
  background-color: #273a71;
}
.registration__container .registration__form-area .form-name::-moz-placeholder, .registration__container .registration__form-area .form-email::-moz-placeholder {
  color: #fff;
}
.registration__container .registration__form-area .form-name::placeholder, .registration__container .registration__form-area .form-email::placeholder {
  color: #fff;
}
.registration__container .registration__form-area .form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 70px;
  width: 293px;
  font-size: 1.125em;
  font-family: "Titillium Web", sans-serif;
  color: #f7f3ea;
  font-weight: 700;
  position: relative;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  background-color: #30bae7;
}
.registration__container .registration__form-area .form-submit::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0.15;
  background-color: #000000;
}
.registration__container .registration__form-area .form-submit:hover {
  background-color: #18a0cc;
}
.registration__container .registration__form textarea {
  width: 860px;
  height: 200px;
  color: #fff;
  margin: 0 0 54px 0;
  background-color: #273a71;
  padding: 24px 0 0 25px;
}
.registration__container .registration__form textarea::-moz-placeholder {
  color: #fff;
}
.registration__container .registration__form textarea::placeholder {
  color: #fff;
}

@media (max-width: 1200px) {
  .registration__container {
    width: 992px;
  }
}
@media (max-width: 992px) {
  .registration__container {
    width: 768px;
  }
  .registration__container .registration__form-area .form-name, .registration__container .registration__form-area .form-email {
    width: 350px;
    margin: 0 7px 27px 7px;
  }
  .registration__container .registration__form-area textarea {
    width: 720px;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 768px) {
  .registration__container {
    width: 480px;
  }
  .registration__container .registration__text-title {
    letter-spacing: 2px;
  }
  .registration__container .registration__form-area .form-name, .registration__container .registration__form-area .form-email {
    width: 450px;
    margin: 0 0 27px 0;
  }
  .registration__container .registration__form-area textarea {
    width: 450px;
    height: 150px;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 480px) {
  .registration__container {
    width: 320px;
  }
  .registration__container .registration__text-title {
    font-size: 1.875em;
    padding-bottom: 20px;
  }
  .registration__container .registration__text-main {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .registration__container .registration__form-area .form-name, .registration__container .registration__form-area .form-email {
    width: 290px;
    margin: 0 0 27px 0;
  }
  .registration__container .registration__form-area textarea {
    width: 290px;
    height: 125px;
    margin: 0 0 30px 0;
  }
  .registration__container .registration__form-area .form-submit {
    height: 60px;
    width: 270px;
  }
}
@media (max-width: 320px) {
  .registration__container {
    width: 290px;
  }
  .registration__container .registration__form-area .form-name, .registration__container .registration__form-area .form-email {
    width: 260px;
    margin: 0 0 20px 0;
  }
  .registration__container .registration__form-area textarea {
    width: 260px;
    height: 100px;
    margin: 0 0 25px 0;
  }
  .registration__container .registration__form-area .form-submit {
    height: 55px;
    width: 260px;
  }
}
.footer {
  max-width: 100%;
  background-color: #344b8e;
}
.footer__container {
  width: 1170px;
  height: 112px;
  padding-top: 47px;
}
.footer__container .footer__links {
  justify-content: center;
}
.footer__container .footer__links .footer__link {
  color: #fff;
  font-size: 1.5em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 29.91px;
  letter-spacing: 0.48px;
  margin: 0 28px;
}
.footer__container .footer__links .footer__link:hover {
  color: #30bae7;
}
.footer__container .footer__links .footer__link:nth-child(2) {
  color: #30bae7;
}

@media (max-width: 1200px) {
  .footer__container {
    width: 992px;
  }
  .footer__container .footer__links .footer__link {
    margin: 0 20px;
  }
}
@media (max-width: 992px) {
  .footer__container {
    width: 768px;
  }
  .footer__container .footer__links .footer__link {
    margin: 0 13px 0 10px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    width: 480px;
    padding-top: 27px;
  }
  .footer__container .footer__links .footer__link {
    margin: 0 4px 0 4px;
  }
}
@media (max-width: 480px) {
  .footer__container {
    width: 320px;
    padding-top: 11px;
  }
  .footer__container .footer__links .footer__link {
    margin: 0 6px 0 6px;
  }
}
@media (max-width: 320px) {
  .footer__container {
    width: 290px;
  }
  .footer__container .footer__links .footer__link {
    font-size: 1.25em;
    margin: 0 10px 0 10px;
  }
}