// Colors
$white: #fff;
$black: #000;
$grey: #666666;
$bg-color-header: #87509c;
$color-text: #f7f3ea;
$bg-button: #eb7d4b;
$button-opacity: #000000;
$button-opacity-team: #bdd1df;
$bg-color-services: #17c2a4;
$bg-color-team: #e7f1f8;
$team-text-color: #3c4761;
$text-color-worker: #27283d;
$text-color-position: #30bae7;

// Font size.
$fs-extra-small: 0.75em; // 12px
$fs-small: 0.875em; // 14px
$fs-icon-deck: 0.937em; //15px
$fs-base: 16px;
$fs-medium-small: 1.125em; // 18px
$fs-large-small: 1.187em; // 19px
$fs-small-medium: 1.25em; // 20px
$fs-lg-md: 1.37em; // 22px
$fs-lg-extra: 1.5em; // 24px
$fs-medium: 1.562em; // 25px
$fs-extra-medium: 1.75em; // 28px
$fs-large: 1.875em; // 30px
$fs-title-medium-large: 2.125em; // 34px
$fs-title-main: 2.5em; // 40px
$fs-title-team: 2.5625em; // 41px
$fs-welcome-title: 2.625em; // 42px
$fs-extra-small-large: 2.8125em; // 45px
$fs-small-large: 4.375em; // 70px
$fs-extra-medium-large: 4.6875em; //75px
$fs-medium-large: 5em; // 80px
$fs-extra-large: 5.625em; // 90px

// Font family
$font-family-base: 'Titillium Web', sans-serif;

// Breakpoints
$wide-width: 1200px;
$desktop-width: 992px;
$tablet-width: 768px;
$small-mobile-width: 480px;
$extra-small-mobile-width: 320px
