// Portfolio style block
.portfolio {
  background-color: $bg-color-portfolio;
  max-width: 100%;
  padding-top: 119px;
  padding-bottom: 109px;

  &__container {
    width: 1170px;

    .portfolio__text {
      &-title {
        @include title-dark;
        padding-bottom: 25px;

        &::after {
          @include title-underline;
          background-color: $portfolio-opacity;
        }
      }

      &-main {
        @include text-dark;
        padding-top: 18px;
        padding-bottom: 40px;
      }
    }

    .portfolio__buttons {
      padding-bottom: 65px;

      &-item {
        display: inline-block;
        text-align: center;
        width: 90px;
        height: 38px;
        background-color: $bg-color-button;
        font-size: $fs-medium-small;
        font-family: $font-family-base;
        color: $button-text-color;
        font-weight: 400;
        position: relative;
        border-radius: 6px;
        margin: 0 3px;
        text-transform: uppercase;

        &:hover {
          background-color: darken($bg-color-button, 10%);
        }

        &:nth-child(1) {
          background-color: $white;
          width: 84px;

          &:hover {
            background-color: darken($white, 10%);
          }
        }

        &:nth-child(2) {
          width: 84px;
        }
      }

    }

    .portfolio__work__examples {
      padding: 0 12px 16px 12px;
      justify-content: space-evenly;

      &-item {
        img {
          padding-bottom: 26px;

          &:first-child {
            margin-top: -2px;
            margin-left: 2px;
          }
        }

        &:nth-child(3) {
          margin-left: 5px;

          .portfolio__work__examples-item-text {
            margin-left: -20px;
          }
        }

        &-text {
          color: $button-text-color;
          font-size: $fs-medium-small;
          font-family: $font-family-base;
          font-weight: 400;
          line-height: 19.5px;
          letter-spacing: 0.36px;
          text-transform: uppercase;
          padding-bottom: 66px;
          margin: 0;
        }
      }
    }

    .portfolio__more {
      @include button;
      background-color: $bg-color-services;

      &::after {
        @include button-opacity;
        background-color: $button-opacity;
      }

      &:hover {
        background-color: darken($bg-color-services, 10%);
      }
    }
  }
}

// Portfolio media style

@media (max-width: $wide-width) {
  .portfolio {
    &__container {
      width: 992px;
    }
  }
}

@media (max-width: $desktop-width) {
  .portfolio {
    &__container {
      width: 768px;
    }
  }
}

@media (max-width: $tablet-width) {
  .portfolio {
    &__container {
      width: 480px;

      .portfolio__text {
        &-title {
          letter-spacing: 2px;
        }

        &-main {
          br {
            display: none;
          }
        }
      }

      .portfolio__buttons {
        padding-bottom: 40px;
      }

      .portfolio__work__examples {
        padding: 0;

        &-item {
          margin: 0;

          &:nth-child(3) {
            margin-left: 0;

            .portfolio__work__examples-item-text {
              margin-left: 0;
            }
          }

          img {
            width: 450px;
            padding-bottom: 20px;

            &:first-child {
              margin-top: 0;
              margin-left: 0;
            }
          }

          &-text {
            padding-bottom: 36px;
          }
        }
      }
    }
  }
}

@media (max-width: $small-mobile-width) {
  .portfolio {
    &__container {
      width: 320px;

      .portfolio__text {
        &-title {
          font-size: $fs-large;
          padding-bottom: 20px;
        }

        &-main {
          font-size: $fs-base;
          padding-bottom: 20px;
        }
      }

      .portfolio__buttons {
        padding-bottom: 40px;

        &-item {
          width: 65px;
          margin: 0;
          font-size: $fs-base;

          &:nth-child(1) {
            width: 65px;
          }

          &:nth-child(2) {
            width: 65px;
          }
        }
      }

      .portfolio__work__examples {
        &-item {
          img {
            width: 290px;
          }

          &-text {
            padding-bottom: 36px;
            font-size: $fs-base;
          }
        }
      }
      .portfolio__more {
        height: 60px;
        width: 250px;
      }
    }
  }
}

@media (max-width: $extra-small-mobile-width) {
  .portfolio {
    &__container {
      width: 290px;
      padding: 0 5px;
    }
  }
}
