// Registration style block
.registration {
  background-color: $bg-color-registration;
  max-width: 100%;
  padding-top: 119px;
  padding-bottom: 109px;
    &__container {
      width: 1170px;

      .registration__text {
        &-title {
          @include title-light;
          padding-bottom: 25px;

          &::after {
            @include title-underline;
            background-color: $registration-opacity;
          }
        }

        &-main {
          @include text-light;
          padding-top: 18px;
          padding-bottom: 74px;
        }
      }
      .registration__form {
        &-area {
          .form-name, .form-email {
            width: 414px;
            height: 56px;
            color: $white;
            text-align: left;
            padding-left: 25px;
            margin: 0 14px 27px 14px;
            background-color: $registration-opacity;
            &::placeholder {
              color: $white;
            }
          }
          .form-submit {
            @include button;
            background-color: $text-color-position;

            &::after {
              @include button-opacity;
              background-color: $button-opacity;
            }

            &:hover {
              background-color: darken($text-color-position, 10%);
            }
          }
        }
        textarea {
          width: 860px;
          height: 200px;
          color: $white;
          margin: 0 0 54px 0;
          background-color: $registration-opacity;
          padding: 24px 0 0 25px;
            &::placeholder {
              color: $white;
            }
        }
      }
    }
}

// Registration media style

@media (max-width: $wide-width) {
  .registration {
    &__container {
      width: 992px;
    }
  }
}

@media (max-width: $desktop-width) {
  .registration {
    &__container {
      width: 768px;

      .registration__form {
        &-area {
          .form-name, .form-email {
            width: 350px;
            margin: 0 7px 27px 7px;
          }

          textarea {
            width: 720px;
            margin: 0 0 40px 0;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .registration {
    &__container {
      width: 480px;

      .registration__text {
        &-title {
          letter-spacing: 2px;
        }
      }

      .registration__form {
        &-area {
          .form-name, .form-email {
            width: 450px;
            margin: 0 0 27px 0;
          }

          textarea {
            width: 450px;
            height: 150px;
            margin: 0 0 40px 0;
          }
        }
      }
    }
  }
}

@media (max-width: $small-mobile-width) {
  .registration {
    &__container {
      width: 320px;

      .registration__text {
        &-title {
          font-size: $fs-large;
          padding-bottom: 20px;
        }

        &-main {
          font-size: $fs-base;
          padding-bottom: 20px;
        }
      }

      .registration__form {
        &-area {
          .form-name, .form-email {
            width: 290px;
            margin: 0 0 27px 0;
          }

          textarea {
            width: 290px;
            height: 125px;
            margin: 0 0 30px 0;
          }
          .form-submit {
            height: 60px;
            width: 270px;
          }
        }
      }
    }
  }
}

@media (max-width: $extra-small-mobile-width) {
  .registration {
    &__container {
      width: 290px;

      .registration__form {
        &-area {
          .form-name, .form-email {
            width: 260px;
            margin: 0 0 20px 0;
          }

          textarea {
            width: 260px;
            height: 100px;
            margin: 0 0 25px 0;
          }
          .form-submit {
            height: 55px;
            width: 260px;
          }
        }
      }
    }
  }
}
