// Welcome block style
.welcome {
  max-width: 100%;
  background-color: $bg-color-header;
  display: flex;
  justify-content: center;
  padding-top: 228px;
  padding-bottom: 145px;

  &__container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .welcome__text {
      font-size: $fs-welcome-title;
      font-family: $font-family-base;
      color: $color-text;
      font-weight: 700;
      text-align: center;
      line-height: 48.82px;
      letter-spacing: 0.2px;
    }

    .welcome__button {
      @include button;
      background-color: $bg-button;
      margin-top: 40px;

      &::after {
        @include button-opacity;
        background-color: $button-opacity;
      }

      &:hover {
        background-color: darken($bg-button, 10%);
      }
    }
  }
}

// Media welcome block

@media (max-width: $wide-width) {
  .welcome {
    &__container {
      width: 992px;
    }
  }
}

@media (max-width: $desktop-width) {
  .welcome {
    &__container {
      width: 768px;
      .welcome__text {
        font-size: $fs-title-medium-large;
        br {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .welcome {
    padding-top: 150px;
    padding-bottom: 110px;
    &__container {
      width: 480px;
      .welcome__text {
        line-height: 38.82px;
      }
      .welcome__button {
        margin-top: 19px;
      }
    }
  }
}

@media (max-width: $small-mobile-width) {
  .welcome {
    &__container {
      width: 320px;
      .welcome__text {
        line-height: 28.82px;
      }
      .welcome__button {
        margin-top: 0;
        width: 250px;
        height: 55px;
      }
    }
  }
}
